body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.react-reveal {
  max-width: calc(50% - 20px);
  margin: 10px;
}
.MuiButton-contained {
  margin: 20px !important;
}
